<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>patronHome.html</welcome-file>
    <welcome-file>patronHome.htm</welcome-file>
    <welcome-file>patronHome.jsp</welcome-file>
    <welcome-file>adminHome.html</welcome-file>
    <welcome-file>adminHome.htm</welcome-file>
    <welcome-file>adminHome.jsp</welcome-file>
    <welcome-file>librarianHome.html</welcome-file>
    <welcome-file>librarianHome.htm</welcome-file>
    <welcome-file>librarianHome.jsp</welcome-file>
    <welcome-file>Login1.html</welcome-file>
    <welcome-file>Login1.htm</welcome-file>
    <welcome-file>Login1.jsp</welcome-file>
    <welcome-file>viewUsers.html</welcome-file>
    <welcome-file>viewUsers.htm</welcome-file>
    <welcome-file>viewUsers.jsp</welcome-file>
    <welcome-file>deleteUser.html</welcome-file>
    <welcome-file>createUser2.htm</welcome-file>
    <welcome-file>createUser2.jsp</welcome-file>
    <welcome-file>createUser2.html</welcome-file>
    <welcome-file>createUser.htm</welcome-file>
    <welcome-file>createUser.jsp</welcome-file>
    <welcome-file>createUser.html</welcome-file>
    <welcome-file>createUser.htm</welcome-file>
    <welcome-file>createUser.jsp</welcome-file>
    <welcome-file>deleteUser2.html</welcome-file>
    <welcome-file>deleteUser2.htm</welcome-file>
    <welcome-file>deleteUser2.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>org.pavan.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.pavan.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>org.pavan.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>org.pavan.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBooks</servlet-name>
    <servlet-class>org.pavan.AddBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBooks</servlet-name>
    <url-pattern>/AddBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBooks</servlet-name>
    <servlet-class>org.pavan.DeleteBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBooks</servlet-name>
    <url-pattern>/DeleteBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>org.pavan.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestBook</servlet-name>
    <servlet-class>org.pavan.RequestBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestBook</servlet-name>
    <url-pattern>/RequestBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Searchl</servlet-name>
    <servlet-class>org.pavan.Searchl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchl</servlet-name>
    <url-pattern>/Searchl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchLib</servlet-name>
    <servlet-class>org.pavan.SearchLib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchLib</servlet-name>
    <url-pattern>/SearchLib</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAdmin</servlet-name>
    <servlet-class>org.pavan.SearchAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAdmin</servlet-name>
    <url-pattern>/SearchAdmin</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Searchbl</servlet-name>
    <servlet-class>org.pavan.Searchbl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchbl</servlet-name>
    <url-pattern>/Searchbl</url-pattern>
  </servlet-mapping>
</web-app>